body {
  font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  background: #a2d2ff;
}

/* typography */

h1, h2, h3, h4, p {
  text-shadow: 0px 0px 1px black;
}

/* layout */

#bday-age {
  background: #EFB0C9;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 10px 0;
}

#bday-date {
  margin: 0;
  background: #EFB0C9;
  padding: 8px 16px;
  border-radius: 5px;
}

#header, .gift-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bff-img {
  border-radius: 50%;
  width: 200px;
  border: 10px solid #EFB0C9;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 5px;
}

.gift-hint {
  margin-top: 0;
}

.gift-image {
  border: 8px solid whitesmoke;
  border-radius: 10px;
  width: 400px;
  background-image: url("./images/gift.jpg");
  background-size: cover;
  height: 400px;
}

#gif-happy:hover {
  background-image: url("./images/happy.gif");
}

#gif-hot:hover {
  background-image: url("./images/hot.gif");
}

#gif-badass:hover {
  background-image: url("./images/badass.gif");
}

#gif-genius:hover {
  background-image: url("./images/genius.gif");
}

#gif-cheers {
  height: 200px;
}

#gif-cheers:hover {
  background-image: url("./images/cheers.gif");
}

p {
  font-size: 32px;
  font-style: italic;
  margin: 0 0 40px 0;
}